### Updated on Sat Jan  1 06:06:28 PM PST 2022 ###
*
!.gitignore
!auto_profiles.conf
!coverart.conf
!crop.conf
!custom-keybinds.md
!file_browser.conf
!file-browser-keybinds.json
!manga-reader.conf
!osc.conf
!persist_properties.conf
!playlistmanager.conf
!stats.conf
!sub_select.conf
!sub-select.json
!trackselect.conf
!webm.conf
!youtube-download.conf
!youtube-quality.conf
