### Updated on Sun Sep  4 11:17:17 PM PDT 2022 ###
*
!.gitignore
#.gitignore-old
#.gitignore-very-old
!ani-man.conf
!auto_profiles.conf
!coverart.conf
!custom-keybinds.md
!file_browser.conf
!file-browser-keybinds.json
!filename.conf
!mpvSockets.conf
!osc.conf
!persist_properties.conf
!playlistmanager.conf
!reload.conf
!stats.conf
!sub_select.conf
!sub-select.json
!trackselect.conf
!vmt.conf
!webm.conf
!youtube-download.conf
!youtube-quality.conf
