### Updated on Fri Sep 23 09:33:41 PM PDT 2022 ###
### < #.gitignore-old > deleted since last update ###
*
!.gitignore
#.gitignore-very-old
!ani-man.conf
!auto_profiles.conf
!coverart.conf
!custom-keybinds.md
!file_browser.conf
!file-browser-keybinds.json
!filename.conf
!mpvSockets.conf
!osc.conf
!persist_properties.conf
!playlistmanager.conf
!reload.conf
!stats.conf
!sub_select.conf
!sub-select.json
!trackselect.conf
!vmt.conf
!webm.conf
!youtube-download.conf
!youtube-quality.conf
