.cache
.cfg
.git
.gnupg
.librewolf
.pki
.ssh
.steam
backup
documents
downloads
games
mnt
music
pictures
programs
public
repos
sync
templates
videos
vimwiki
.bash_logout
.bash_profile
.bashrc
.pulse-cookie
.steampath
.steampid
.umpv_socket
.Xauthority
ffmpeg2pass-0.log
