### Updated on Tue Jun 20 12:19:04 AM PDT 2023 ###
*
!.gitignore
#.gitignore-very-old
!applications
#Aspyr
#baloo
#bash-completion
!bg
#calcurse
#cargo
#desktop-directories
#doc
#dolphin
#fish
#flatpak
#fonts
#gegl-0.4
#gnucash
#gnupg
#go
#Google
#gvfs-metadata
#history
#icons
#iwctl
#kdenlive
#keyrings
#knewstuff3
#konversation
#kwalletd
!larbs
#lf
#libvirt
#lutris
#lyrics
#man
#mime
#mplug
#Mumble
#nvim
#okular
#onlyoffice
#qBittorrent
#qutebrowser
#ranger
#RecentDocuments
#recently-used.xbel
#remoteview
#sioyek
#stalefiles
#Steam
#syncthing
#Tachidesk
#Trash
!tridactyl
#user-places.xbel
#user-places.xbel.bak
#user-places.xbel.tbcache
#vifm
#virtualenv
#vlc
#vulkan
#weatherreport
#webkitgtk
!wineprefixes
#xdg-desktop-portal-kde
#xorg
!Yotsuba-drop.png
!yotsuba.png
#zathura
#zsh
