### Updated on Tue Jul 12 08:11:26 PM PDT 2022 ###
### < .gitignore-very-old > deleted since last update ###
### < .gitignore-old > deleted since last update ###
*
!.gitignore
.gitignore-old
.gitignore-very-old
!applications
#Aspyr
#baloo
!bg
#calcurse
#cargo
#desktop-directories
#dolphin
#flatpak
#fonts
#gegl-0.4
#gnupg
#go
#gvfs-metadata
#history
#icons
#iwctl
#kdenlive
#keyrings
#knewstuff3
!larbs
#lf
#libvirt
#lutris
#lyrics
#mime
#mplug
#Mumble
#nvim
#onlyoffice
#qBittorrent
#qutebrowser
#ranger
#RecentDocuments
#recently-used.xbel
#remoteview
#stalefiles
#Steam
#syncthing
#Tachidesk
#Trash
!tridactyl
#user-places.xbel
#user-places.xbel.bak
#user-places.xbel.tbcache
#vifm
#vlc
#vulkan
#weatherreport
#webkitgtk
!wineprefixes
#xorg
!Yotsuba-drop.png
!yotsuba.png
#zathura
