### Updated on Mon Jan 24 11:12:52 PM PST 2022 ###
*
!.gitignore
#.gitignore-very-old
!applications
#baloo
!bg
#calcurse
#cargo
#desktop-directories
#dolphin
#gegl-0.4
#go
#gvfs-metadata
#history
#icons
#iwctl
#kdenlive
#keyrings
!larbs
#lf
#lutris
#lyrics
#mime
#nvim
#qutebrowser
#RecentDocuments
#recently-used.xbel
#stalefiles
#Steam
#syncthing
#Tachidesk
#Trash
#user-places.xbel
#user-places.xbel.bak
#user-places.xbel.tbcache
#vifm
#vlc
#vulkan
#webkitgtk
!wineprefixes
#xorg
!yotsuba.png
#zathura
