### Updated on Thu Mar  2 08:05:16 PM PST 2023 ###
*
!.gitignore
#.gitignore-old
!config.el
#config.el.bak
!custom.el
!doom-emacs-dash.png
!eshell
!funcs.el
!init.el
#init.el.bak
!packages.el
!snippets
!themes
