### Updated on Wed Mar  2 11:57:28 PM PST 2022 ###
### < #.gitignore-old > deleted since last update ###
*
!.gitignore
#.gitignore-very-old
!cleaner
!lf-gadgets
!lf-holding
!lfimg
!lfrc
!Luke
!myrc
!preview
!scope
!shortrc
!working-lf-with-previews
