### Updated on Sat Jan 22 02:13:12 AM PST 2022 ###
*
!.gitignore
#.gitignore-old
#.gitignore-very-old
!cleaner
!lf-gadgets
!lf-holding
!lfimg
!lfrc
!Luke
!myrc
!preview
!scope
!shortcutrc
!working-lf-with-previews
