### Updated on Sun Dec 26 03:35:28 AM PST 2021 ###
*
!.gitignore
!fonts
#icc
!image-input.conf
!input.conf
!menu.json
!mpv.conf
!persistent_config.json
#playlists
!script-opts
!scripts
!shaders
#unused
#watch_later
