### Updated on Fri Dec 10 07:18:44 PM PST 2021 ###
*
!.gitignore
!fonts
#icc
!image-input.conf
!input.conf
!menu.json
!mpv.conf
!persistent_config.json
#playlists
!script-opts
!scripts
!shaders
#unused
#watch_later
