### Updated on Sat Jan  1 06:06:27 PM PST 2022 ###
*
!.gitignore
!fonts
#icc
!image-input.conf
!input.conf
!menu.json
!mpv.conf
!persistent_config.json
#playlists
!script-opts
!scripts
!shaders
#unused
#watch_later
