### Updated on Wed Feb 16 07:41:12 PM PST 2022 ###
### < !movement.conf > deleted since last update ###
*
!.gitignore
#.gitignore-old
#.gitignore-very-old
!sxhkd.conf
!tmux.conf
#tmux.conf-backup
!tmux-res
!tmux-yank
!twm.conf
