### Updated on Tue Jul 12 08:11:26 PM PDT 2022 ###
### < .gitignore-very-old > deleted since last update ###
*
!.gitignore
.gitignore-very-old
!sxhkd.conf
!tmux.conf
#tmux.conf-backup
!tmux-res
!tmux-yank
!twm.conf
!twm-horizontal.conf
