### Updated on Tue Jun 20 12:18:59 AM PDT 2023 ###
*
!.gitignore
#.gitignore-very-old
!ani-man.lua
!autocrop.lua
!auto-profiles.lua
!betterchapters.lua
!coverart.lua
!dmenuplaylist.lua
!dwmblocks.lua
!file-browser.lua
!filename.lua
!mpvSockets.lua
!ontop-playback.lua
!open-file-dialog.lua
!persist-properties.lua
!playlistmanager.lua
!quack.lua
!save_playlist.lua
!seek-to.lua
!segment-linking.lua
!show-path.lua
!sponsorblock.lua
!sponsorblock_shared
!stats.lua
!status-line.lua
!sub-select.lua
!trackselect.lua
!vmt.lua
!webm.lua
#webtorrent-hook
!youtube-quality.lua
!ytdl_hook.lua
#ytdl_hook.lua.bak
