### Updated on Wed Apr 20 11:02:20 PM PDT 2022 ###
*
!.gitignore
#.gitignore-old
#.gitignore-very-old
!autocrop.lua
!auto-profiles.lua
!betterchapters.lua
!coverart.lua
!dwmblocks.lua
!file-browser.lua
!mpvSockets-umpv.lua
!ontop-playback.lua
!open-file-dialog.lua
!persist-properties.lua
!playlistmanager.lua
!quack.lua
!save_playlist.lua
!seek-to.lua
!segment-linking.lua
!sponsorblock.lua
!sponsorblock_shared
!stats.lua
!status-line.lua
!sub-select.lua
!trackselect.lua
!webm.lua
!youtube-quality.lua
!ytdl_hook.lua
