#BraveSoftware
#cef_user_data
#dconf
#GIMP
#htop
#keepassxc
#libfm
#light
#lutris
#menus
#neofetch
#pcmanfm
#syncthing
#syncthing-gtk
#transmission
#vlc
#yay
#yt-dlp
#kdenlive-layoutsrc
#kdenliverc
#QtProject.conf
!dunst/
!fontconfig/
!gtk-2.0/
!gtk-3.0/
!lf/
!mpd/
!mpv/
!ncmpcpp/
!nvim/
!pinetry/
!pulse/
!qt5ct
!qutebrowser/
!shell/
!sxiv/
!wal/
!wget/
!x11/
!zathura/
!zsh/
!.gitignore
!dolphinrc
!kdeglobals
!mimeapps.list
!user-dirs.dirs
!xdg-desktop-portal-kderc
