### Updated on Thu May  5 04:44:20 PM PDT 2022 ###
### < #.gitignore-old > deleted since last update ###
*
!.gitignore
#.gitignore-very-old
#autostart
#baloofileinformationrc
#BraveSoftware
!calcurse
#cef_user_data
#coc
#configstore
#coreapps
#cubocore
#dconf
!dolphinrc
!dunst
!easyeffects
#Electron
!fontconfig
#fontforge
#GIMP
#goa-1.0
#gsmartcontrol
!gtk-2.0
!gtk-3.0
!gtk-4.0
#hakuneko-desktop
#Houdoku
#htop
#jellyfin-mpv-shim
!kdeglobals
#kdenlive-layoutsrc
#kdenliverc
#kde.org
#keepassxc
#kiorc
!kmonad
#knfsshare
#kservicemenurc
!lf
#libfm
!libreoffice
!libvirt
#light
!llpp.conf
!lutris
!manga-man
#menus
!mimeapps.list
#monero-project
!mpd
!mpv
#mpv-backup
#Mullvad VPN
#Mumble
!ncmpcpp
#neofetch
!nnn
!nsxiv
!nvim
#onlyoffice
#pavucontrol.ini
#pcmanfm
!pcmanfm-qt
!pinentry
#protonvpn
!pulse
!qt5ct
#QtProject.conf
!qutebrowser
#ranger
!redshift
#session
!shell
!sxhkd
!sxiv
#syncthing
#syncthing-backup
#syncthing-gtk
!systemd
!tmux
!transmission
#trashrc
!tridactyl
#tuta_integration
#tutanota-desktop
!user-dirs.dirs
#VeraCrypt
#Vieb
#VirtualBox
#vlc
!vsnip
!wal
!wget
!x11
#xarchiver
!xdg-desktop-portal-kderc
#yay
!yt-dlp
!zathura
!zsh
