### Updated on Mon Jan 24 11:12:17 PM PST 2022 ###
*
!.gitignore
#.gitignore-old
#.gitignore-very-old
#autostart
#BraveSoftware
!calcurse
#cef_user_data
#configstore
#coreapps
#cubocore
#dconf
!dolphinrc
!dunst
#Electron
!fontconfig
#GIMP
#goa-1.0
!gtk-2.0
!gtk-3.0
#hakuneko-desktop
#htop
!kdeglobals
#kdenlive-layoutsrc
#kdenliverc
#kde.org
#keepassxc
!kmonad
!lf
#libfm
#light
!lutris
#menus
!mimeapps.list
!mpd
!mpv
#mpv-backup
#Mullvad VPN
!ncmpcpp
#neofetch
!nnn
!nsxiv
!nvim
#pavucontrol.ini
#pcmanfm
!pinentry
#protonvpn
!pulse
!qt5ct
#QtProject.conf
!qutebrowser
#session
!shell
!sxhkd
!sxiv
#syncthing
#syncthing-gtk
!systemd
!tmux
!transmission
#trashrc
!user-dirs.dirs
#Vieb
#vlc
!wal
!wget
!x11
!xdg-desktop-portal-kderc
#yay
!yt-dlp
!zathura
!zsh
