### Updated on Fri Sep 23 09:33:41 PM PDT 2022 ###
### < #nvim > deleted since last update ###
### < #.gitignore-old > deleted since last update ###
*
!.gitignore
#.gitignore-very-old
#autoload
!init.vim
!lua
#plugged
